.Input {
  background-color: #3B364A;
  border: 1px solid rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  min-height: 34px;
  outline: 0;
  padding-left: 11px;
  padding-right: 11px;
  font-weight: 600;
  min-width: 175px;
}

.Input::placeholder {
  color: rgba(255, 255, 255, .8);
  font-weight: 400;
}